:host{
    display: flex;
    margin: 50px auto;
    width: 90%;
    max-width: 1000px;
    align-items: center;
    flex-direction: column;

    h2{
        font-size: 2.9em;
        color: rgb(255, 0, 119);
        border-bottom: 3px solid rgb(255, 0, 119);
        padding-bottom: 20px;
    }

    label{
        text-align: center;
        display: block;
        width: 100%;
    }

    input{
        width: 300px;
        font-size: 1.4em;
        font-weight: 300;
        padding: 10px 60px;
        margin-bottom: 35px;
        letter-spacing: 3px;
        color: rgb(46, 46, 46);
        background-color: rgba(255, 0, 119, 0.349);
        border: none;
        border-radius: 15px;
        text-align: center;
    }

    button{
        width: 100%;
        letter-spacing: 3px;
        color: rgb(46, 46, 46);
        background-color: rgba(212, 0, 255, 0.418);
        border: none;
        border-radius: 15px;
        font-size: 1.4em;
        font-weight: 300;
        padding: 10px 60px;
    }
}
