<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Agregar Producto</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <mat-label>Id</mat-label>
                        <input formControlName="id" matInput placeholder="Identificador" type="text" name="" id="">
                    </mat-form-field>
                </div>
            </div>
        
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <mat-label>Titulo</mat-label>
                        <input formControlName="title" matInput placeholder="Escriba el titulo" type="text" name="" id="">
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <mat-label>Precio</mat-label>
                        <input formControlName="price" matInput placeholder="Escriba el titulo" type="number" name="" id="">
                        <mat-error *ngIf="priceField.hasError('priceInvalid')">
                            El precio debe ser menor a $10,000
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        
            <div class="row">
                <div class="col-xs">
                    <mat-form-field class="textarea">
                        <mat-label>Description</mat-label>
                        <textarea formControlName="description" matInput placeholder="Descripcion del Producto" type="text" name="" id=""></textarea>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button color="accent" type="submit">Guardar</button>
        </mat-card-actions>
    </mat-card>
</form>