/* You can add global styles to this file, and also import other style files */
.product-grid{
    display: grid;
    margin: 0px 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    align-items: flex-start;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
